.hex-grid {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  width: fit-content;
  justify-self: center;
}

.hex-grid .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-accent-pink-dark);
  height: 15rem;
  text-align: center;
  width: 3rem;
}

.hex-grid-column {
    margin-top: -1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: calc((var(--hexagon-size) / 2) + (var(--hex-gap) / 2));
}

.hex-grid-column-odd {
  margin-top: -1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
