.nav-bar {
    text-align: center;
    padding-top: 4rem;
}

.nav-bar .text {
    font-size: 1.25rem;
    line-height: 1.25rem;
}

.nav-bar .text:hover {
    color: var(--color-accent-blue);
    font-weight: bolder;
}

.curr-page {
    text-decoration: underline;
    color: var(--color-accent-blue);
    font-weight: bold;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
}
