.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  width: fit-content;
  background-color: var(--color-accent-pink-dark-transparent);
  border: 1px solid var(--color-accent-pink-dark);
  border-radius: 20px;
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-wrapper .direct-contact-container {
    margin-right: 50%;
  }
}
