.intro-section-padding {
    padding: 5rem;
}

/* grid containing the welcome message + image */
.intro-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.75rem;
}

.intro-grid .left {
    display: flex;
    flex-direction: column;
    justify-self: end;
    justify-content: left;
}

.intro-grid .right {
    justify-self: start;
}

/* Text/Image configurations for top intro grid */
.intro-text {
    font-size: 0.875rem;
    color: var(--color-brand-dark);
    text-align: left;
}

.intro-name {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: left;
}

.intro-job {
    color: var(--color-accent-pink-dark);
    font-size: 1.6rem;
    text-shadow: var(--text-shadow);
    font-weight: bold;
    text-align: left;
}

.intro-welcome {
    text-align: left;
}

.intro-open-message {
    font-size: 0.75rem;
    font-style: italic;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    color: var(--color-brand-dark);
    opacity: 0.7;
    text-align: left;
}

.intro-image {
    justify-self: left;
    height: 500px;
    width: auto;
}

/* Card configuration */
.intro-card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

/* Updating formatting for mobile */
@media (max-width: 639px) {
    .intro-grid,
    .intro-card-grid {
        grid-template-columns: 1fr;
    }

    .intro-text,
    .intro-name,
    .intro-job,
    .intro-welcome,
    .intro-open-message {
    text-align: center;
    }

    .intro-section-padding {
        padding: 0rem;
    }
}
