/* Content container */
.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.75rem;
}

.skills-grid .left {
    display: flex;
    flex-direction: column;
    justify-self: end;
    justify-content: center;
}

.skills-grid .right {
    justify-self: start;
}

.skills-languages-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.skills-hex-grid-container {
  margin: 2rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 4rem;
}

.skills-expandable-box-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 100%;
}

.skills-expandable-box-content {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 7%;
  margin-right: 7%;
  gap: 1%;
}

.skills-expandable-box-content li {
  font-size: 0.875rem;
}
.skills-expandable-box-content .two-col {
  font-size: 0.875rem;
}

.skills-expandable-box-content ~.one-col {
  grid-template-columns: 1fr;
}

/* Updating formatting for mobile/small screens */
@media (max-width: 639px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
}
