@import "@fontsource/roboto-mono";
@import "tailwindcss";

html {
  font-family: "Roboto Mono", monospace;
  width: 100%;
  height: 100%;
}

body {
  background-image: url('/images/background/background.png');
  background-repeat: repeat-y;
  background-size: cover;
  font-family: "Roboto Mono", monospace;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

@theme {
  --color-brand: #ACAECB;
  --color-brandDark: #555778;
  --color-accent: #A1DFEA;
  --color-accentDark: #7FBBC6;
}
