@import "@fontsource/press-start-2p";
@import "@fontsource/vt323";
@import "@fontsource/pixelify-sans";
@import "@fontsource/dotgothic16";
@import "@fontsource/handjet";
@import "@fontsource/roboto-mono";
@import "@fontsource/jetbrains-mono";
@import "@fontsource/ibm-plex-mono";
@import "@fontsource/fira-code";
@import "@fontsource/share-tech-mono";
@import "tailwindcss";



/* #ACAECB */
/* 8ce9ff  81e4fc */ 
@theme {
  --color-brand: #CED1F2; /* #ACAECB */
  --color-brand-dark: #8488b8;
  --color-accent-blue: #8ce9ff;
  --color-accent-green: #b5ffca;
  --color-accent-pink: #edb4e9; /*edb4e9 de81d7*/
  --color-accent-pink-dark: #bd4db4;
}

@keyframes rainbow {
  0%   { color: #ff6ec7; }   /* pink */
  20%  { color: #ffde59; }   /* yellow */
  40%  { color: #5dff89; }   /* green */
  60%  { color: #59caff; }   /* blue */
  80%  { color: #b659ff; }   /* purple */
  100% { color: #ff6ec7; }   /* back to pink */
}

@keyframes rainbow-loop {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}

:root {
  --font-size-std: 0.875rem;
  --indent: 1.75rem;
  --font-bold-sm-weight: 500;
  --container-box-color: rgba(0, 0, 0, 0.75);
  --color-accent-pink-dark-transparent: color-mix(in srgb, var(--color-accent-pink-dark) 20%, transparent);
  --hexagon-size: 6.5rem;
  --hex-gap: 0.25rem;
  --card-margin: 2rem;
  --card-gap: 1rem;
}

html {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body {
  font-family: "IBM Plex Mono", monospace;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  cursor: url("/cursor.png") 8 8, auto;
}

a:hover {
  cursor: url("/cursor-point.png") 8 8, pointer;
}

footer {
  position: relative;
}

main {
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 3rem;
  margin-top: 3rem;
}

h2 {
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
}

summary {
  font-size: 1rem;
}

/* Divider */
hr {
  border-bottom: 1px solid var(--color-accent-pink-dark);
  width: 100%;
  opacity: 0.3;
  align-self: center;
  justify-self: center;
}


.section-description {
  text-align: center;
  margin-bottom: 2rem;
}

@layer components {
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    color: var(--color-brand);
  }

  .container-box {
    display: flex;
    flex-direction: column;
    background-color: var(--container-box-color);
    width: 95%;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    backdrop-filter: blur(6px);
    min-height: fit-content;
    overflow: visible;
  }

  .rainbow-hover:hover {
    animation: rainbow 9s linear infinite;
  }

  .button {
    transition: transform 250ms ease, box-shadow 250ms ease;
    box-shadow: 0 0 0 rgba(0,0,0,0); /* start with no shadow */
  }

  .button:hover {
    color: white;
    font-weight: bold;
    transform: translateY(-2px); /* lift up */
    box-shadow: 0 12px 24px rgba(0,0,0, 0.9);
  }

  .link {
    color: var(--color-accent-blue);
    text-decoration: underline;
  }

  .rounded-container {
      display: flex;
      border-radius: 30px;
      background-color: color-mix(in srgb, var(--color-accent-pink-dark) 20%, transparent);
      border: 1px solid var(--color-accent-pink-dark);
      padding: 0.875rem;
      width: fit-content;
  }

  .rounded-container-text {
      font-size: 0.875rem;
      color: var(--color-brand);
  }

  .indent {
    display: inline-block;
    width: 2rem
  }

  .rainbow-loop {
    background: linear-gradient(
      to right,
      #ff6ec7,
      #59caff,
      #FFFF,
      /* #b659ff,
      #b131ca, */
      #ff6ec7
    );
    background-size: 200% 100%;
    background-position: 0% 0%;
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow-loop 4s linear infinite;
  }

  .footer-padding {
    padding: 3rem;
  }
}

::selection {
  background: var(--color-accent-pink-dark);
  color: black;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 3rem;
}

/* Updating formatting for mobile/small screens */
@media (max-width: 639px) {
  :root {
    --hexagon-size: 4.5rem;
  }
  h1 {
    margin-top: 0rem;
  }
}
